@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;900&display=swap');

:root {

    /*Colours*/
    --paleGreen: 84, 230, 175;
    --lightGreen: 179, 255, 226;
    --darkGray: 44, 52, 75;
    --mediumGray: 90, 102, 138;
    --lightGray: 194, 203, 229;
    --red: 251, 62, 62;
    --black: 18, 23, 37;
    --white: 255, 255, 255;

    /* 1rem === 10px */
    font-size: 62.5%;
    font-family: 'Chivo', sans-serif;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Page Styling*/

.site-wrapper {
    background: linear-gradient(
            rgba(var(--black), 85%),
            rgba(var(--black), 85%)
    ), url('../assets/mobile/image-host.jpg') no-repeat 58% 0 fixed, rgb(var(--black));
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.pod-logo {
    width: 13.4rem;
    margin: 6.2rem auto;
}

.request-access {
    display: flex;
    flex-direction: column;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}

.title-text {
    color: rgba(var(--paleGreen));
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 2.6rem;
}

.title-text em {
    color: rgba(var(--white));
    font-style: normal;
}

.body-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: rgb(var(--lightGray));
    margin-top: 1.6rem;
}

.request-access-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3.3rem;
    margin-left: 1.2rem;
    filter: brightness(0) saturate(100%) invert(39%) sepia(24%) saturate(614%) hue-rotate(187deg) brightness(95%) contrast(88%);
}

.request-access-logos .spotify-logo {
    width: 5.6rem;
    height: 1.7rem;
    margin-right: 2.3rem;
}

.request-access-logos .apple-logo {
    width: 4.5rem;
    height: 1.7rem;
    margin-right: 2.5rem;
}

.request-access-logos .google-logo {
    width: 7.3rem;
    height: 1.1rem;
    margin-right: 1.6rem;
}

.request-access-logos .pocket-logo {
    width: 7.7rem;
    height: 1.5rem;
    margin-right: 1.6rem;
}

.request-access-form {
    position: relative;
    margin-top: 4.8rem;
}

.request-access-form .validation-error { /*TODO: Update these values*/
    position: absolute;
    top: 4.8rem;
    left: 3.2rem;
    color: rgb(var(--red));
    font-size: 1.2rem;
    z-index: 500;
}

.request-access-email {
    background-color: rgb(var(--darkGray));
    border: unset;
    border-radius: 2.8rem;
    text-indent: 3.2rem;
    color: rgb(var(--white));
    padding: 1.45rem 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
}

.request-access-email::placeholder {
    color: rgb(var(--lightGray));
}

.request-access-button {
    background-color: rgb(var(--paleGreen));
    border: unset;
    border-radius: 2.8rem;
    text-align: center;
    color: rgb(var(--black));
    margin-top: 1.6rem;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.45rem 0;
    font-weight: 700;
    transition: background-color 0.15s ease-in-out;
}

.request-access-button:hover {
    background-color: rgb(var(--lightGreen));
}

/* Tablet */
@media (min-width: 768px) {

    .site-wrapper {
        background: url('../assets/desktop/bg-pattern-dots.svg') no-repeat top 92rem left 3rem, rgb(var(--black)) url('../assets/tablet/image-host.jpg') no-repeat fixed top right;
        height: 100vh;
    }

    .pod-logo {
        width: 13.4rem;
        margin: 5rem 0 0 3.9rem;
    }

    .request-access {
        background-color: rgb(var(--black));
        margin-left: 3.9rem;
        margin-right: 9.4rem;
        margin-top: 15.3rem;
    }

    .title-text {
        margin-top: 9.3rem;
        text-align: left;
        font-weight: 300;
        font-size: 4.8rem;
    }

    .body-text {
        text-align: left;
        line-height: 2.8rem;
        margin-top: 3.1rem;
        margin-right: 19rem;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .request-access-form {
        position: relative;
        margin-top: 4rem;
    }

    .request-access-form .validation-error {
        top: 6.4rem;
        left: 3.2rem;
    }

    .request-access-email {
        padding: 1.95rem 0;
        width: 42.7rem;
    }

    .request-access-button {
        position: absolute;
        margin-top: 0.5rem;
        left: 26rem;
        width: 16.2rem;

    }

    .request-access-logos {
        order: 1;
        justify-content: flex-start;
        margin-top: 6.4rem;
        margin-left: 0;
    }

    .request-access-logos .spotify-logo {
        width: 9.6rem;
        height: 2.9rem;
        margin-right: 4rem;
    }

    .request-access-logos .apple-logo {
        width: 7.8rem;
        height: 2.9rem;
        margin-right: 4.1rem;
    }

    .request-access-logos .google-logo {
        width: 12.5rem;
        height: 1.8rem;
        margin-right: 2.7rem;
    }

    .request-access-logos .pocket-logo {
        width: 12.9rem;
        height: 2.6rem;
    }

}

/*Desktop*/
@media (min-width: 1440px) {
    .site-wrapper {
        background: url('../assets/desktop/bg-pattern-dots.svg') no-repeat top 71.8rem right, rgb(var(--black)) url('../assets/desktop/image-host.jpg') no-repeat fixed right 0 top 130px;
    }

    .pod-logo {
        width: 13.4rem;
        margin: 10.2rem 0 0 16.5rem;
    }

    .request-access {
        margin-left: 16.5rem;
        margin-right: 55.2rem;
        margin-top: 10.3rem;
    }

    .title-text {
        margin-top: 8.8rem;
        font-size: 5.2rem;
    }

    .body-text {
        margin-top: 2.4rem;
        margin-right: 27.8rem;
    }

    .request-access-form {
        margin-top: 4rem;
    }

    .request-access-logos {
        margin-left: 0;
    }
}